html, body {
  height: 100%;
  margin: 0;
}

li {
  display: inline;
  padding: 10px;
  font-size: 20px;
}

h1 {
  font-size: 70px;
  align-content: flex-start;
}

.parallax-container {
  width: 1200px;
  height:500px;
}

#home header {
  height: 75%;
  text-align: center;
  color: white;
  font-family: 'Frijole', cursive;
  background: url("/assets/slpingpanda.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px;
}
#home nav {
  height: 25%;
  padding: 30px;
  background-color: white;
}

#home nav div {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  display: flex;
}

#home nav a {
  flex: 1 0 auto;
  min-width: 150px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 32px;
  background: url("/assets/abtpanda.jpg");
  background-size: 100%;
  background-position: center;
  transition: all 300ms;
  font-family: 'Frijole', cursive;
}

#home nav a:hover {
  background-size: 110%;
}

#about header{
  height: auto;
}
#about a {
  color: black;
  font-family: 'Frijole', cursive;
}

#about .profile {
  display: inline-block;
  border-radius: 20px;
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

#about body {
  background: green;
  color: black;
}

#about section {
  margin-bottom: 80px;
}

.intro {
  display: flex;
  align-items: stretch;
}

#about main {
  max-width: 1080px;
  margin: 0 auto;
}

.timeline h2 {
  margin-bottom: 100px;
}

.timeline-entry {
  display: flex;
  align-items: stretch;
  position: relative;
}

.timeline-entry:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.timeline-content {
  width: 49.5%;
  padding: 20px;
  padding-bottom: 40px;
}

.timeline-line {
  background-color: black;
  width: 1%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.timeline-img {
  top: 0px;
  left: 50%;
  position: absolute;
  margin-top: -50px;
  margin-left: -50px;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  border: solid black;
  display: block;
}

#about .carousel {
  perspective: 400px;
  height: 600px;
}

#about .carousel-item {
  height: 500px;
  width: 500px;
}
#contact .addr{
  color: black;
}
